<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <h1 class="container-cabecalho">Aula de Flask</h1>

    <hr>

    <p>Flask é um framework web para Python que permite criar aplicativos web 
        de forma rápida e simples. Ele é conhecido por ser leve, flexível e 
        fácil de usar, proporcionando ao desenvolvedor liberdade para escolher 
        as ferramentas e bibliotecas que deseja usar, sem impor uma estrutura 
        rígida.
    </p>

    <p>A principal filosofia por trás do Flask é "micro", o que significa 
        que ele fornece apenas o essencial para começar a construir aplicativos 
        web, deixando muitas decisões de design e escolhas de ferramentas para 
        o desenvolvedor. Isso contrasta com outros frameworks web mais robustos, 
        como Django, que oferecem mais funcionalidades e uma estrutura mais 
        opinativa.
    </p>
    
</body>
</html>