<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <h1 class="container-cabecalho">Formulário em Flask</h1>

    <hr>

    <p>
        <form action="/caracteristica" method="post">
            <input type="text" id="nome" name="nome" placeholder="Nome" required>
            <input type="number" id="idade" name="idade" placeholder="Idade" required>
            <input type="email" id="email" name="email" placeholder="E-mail" required>
            <input type="tel" id="telefone" name="telefone" placeholder="Telefone" >
            <input type="text" id="profissao" name="profissao" placeholder="Profissão" >
    
            <button type="submit">Enviar</button>
        </form>
    
    </p>
    
</body>
</html>